.icon-KEEPINTOUCH { background-image: url('/wp-content/themes/altablue/_assets/imgs/svgs-pngs/KEEPINTOUCH.png'); background-repeat: no-repeat; }

.icon-ablue { background-image: url('/wp-content/themes/altablue/_assets/imgs/svgs-pngs/ablue.png'); background-repeat: no-repeat; }

.icon-address { background-image: url('/wp-content/themes/altablue/_assets/imgs/svgs-pngs/address.png'); background-repeat: no-repeat; }

.icon-altablue-white { background-image: url('/wp-content/themes/altablue/_assets/imgs/svgs-pngs/altablue-white.png'); background-repeat: no-repeat; }

.icon-door { background-image: url('/wp-content/themes/altablue/_assets/imgs/svgs-pngs/door.png'); background-repeat: no-repeat; }

.icon-email-address { background-image: url('/wp-content/themes/altablue/_assets/imgs/svgs-pngs/email-address.png'); background-repeat: no-repeat; }

.icon-email { background-image: url('/wp-content/themes/altablue/_assets/imgs/svgs-pngs/email.png'); background-repeat: no-repeat; }

.icon-fname { background-image: url('/wp-content/themes/altablue/_assets/imgs/svgs-pngs/fname.png'); background-repeat: no-repeat; }

.icon-iona { background-image: url('/wp-content/themes/altablue/_assets/imgs/svgs-pngs/iona.png'); background-repeat: no-repeat; }

.icon-jobs { background-image: url('/wp-content/themes/altablue/_assets/imgs/svgs-pngs/jobs.png'); background-repeat: no-repeat; }

.icon-linkedin { background-image: url('/wp-content/themes/altablue/_assets/imgs/svgs-pngs/linkedin.png'); background-repeat: no-repeat; }

.icon-logo-white { background-image: url('/wp-content/themes/altablue/_assets/imgs/svgs-pngs/logo-white.png'); background-repeat: no-repeat; }

.icon-logo { background-image: url('/wp-content/themes/altablue/_assets/imgs/svgs-pngs/logo.png'); background-repeat: no-repeat; }

.icon-or { background-image: url('/wp-content/themes/altablue/_assets/imgs/svgs-pngs/or.png'); background-repeat: no-repeat; }

.icon-phone { background-image: url('/wp-content/themes/altablue/_assets/imgs/svgs-pngs/phone.png'); background-repeat: no-repeat; }

.icon-psn-banner { background-image: url('/wp-content/themes/altablue/_assets/imgs/svgs-pngs/psn-banner.png'); background-repeat: no-repeat; }

.icon-question { background-image: url('/wp-content/themes/altablue/_assets/imgs/svgs-pngs/question.png'); background-repeat: no-repeat; }

.icon-search { background-image: url('/wp-content/themes/altablue/_assets/imgs/svgs-pngs/search.png'); background-repeat: no-repeat; }

