/*
	
	## LOVELY SASS STUFF ##

*/

/* Compass Mixins includes */
@import "compass/css3";

/* layout & grid files */

$light: 300;
$medium: 400;
$bold: 700;
$color-black: 900;

/* google-fonts stuff */

$font-family: 'Noto', Helvetica, Arial, sans-serif;
$default-font-size: 16; //Default

/* colours */

$color-black: #141212;
$primary-color: #0099cc;
$color-orange: #ff6600;
$color-blue:#0099cc;
$color-white:#fff;

/* Functions */

/* PX -> EM */
@function em($pixels, $context: $default-font-size){
  @return #{$pixels/$context}
}


@mixin maintain-ratio($ratio: 1 1) {
	@if length($ratio) < 2 or length($ratio) > 2 {
		@warn "$ratio must be a list with two values.";
	}
	 
	$width: 100%;
	$height: percentage(nth($ratio, 2) / nth($ratio, 1));
	width: $width;
 	height: 0;
	padding-bottom: $height;
}

/* SASS vertical align placement */

%vertical-align {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@mixin rem-fallback($property, $values...) {
  $context: $default-font-size;
  $max: length($values);
  $pxValues: '';
  $remValues: '';

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $pxValues: #{$pxValues + $value}px;

    @if $i < $max {
      $pxValues: #{$pxValues + " "};
    }
  } 

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $remValues: #{$remValues + $value/$context}rem;

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  } 
  
  #{$property}: $pxValues; 
  #{$property}: $remValues; 
}


/*

	## HARD CODED CSS ##

*/


/*
	Global Styles
*/

*{
	*behavior: url(/css/framework/boxsizing.htc);
}

html,body{
	font-family: $font-family;
	@include rem-fallback(font-size, 16);
	overflow-x:hidden;
}

.blackbg{
	background:$color-black;
}

.whitebg{
	background:#fff;
}

noscript img{
	min-height:100%;
}

.black-overlay{
	background:$color-black;
	height:100%;
	width:100%;
	opacity:0.15;
	position:absolute;
	z-index:-1;
	top:0;
	left:0;
}

.cta.orange{
	background: $color-orange;
}

.cta.blue{
	background:$color-blue;
}

.cta{
	@include rem-fallback(padding, 16,32,16,32);
	@include rem-fallback(font-size,18);
	border-radius:3px;
	text-decoration:none;
	color:$color-white;
	text-transform:uppercase;
	font-weight:$bold;
	border:none;
}

.spacer{
	display:inline-block;
	height:1px;
	opacity:0;
}

.small-cta{
	@include rem-fallback(padding, 12,19,12,19);
	@include rem-fallback(font-size,14);
}

.wrapper{
 	transition: all 0.25s ease-in-out;
 	margin:0 0% 0 0%;
 	position:relative;
 	z-index:2;
 	background:#fff;
}

.wrapper.slide-out{
	margin:0 50% 0 -50%;
}

section.container{
	background:#fff;
}


/** HEADER **/


header{
	background:#0099cc;
	position:relative;
}

header a, #secondHeader a{
	text-decoration:none;
}

header #logo{
	@include rem-fallback(margin, 12,0,12,0);
}

#secondHeader #elvis{
	display:none;
}

#secondHeader #elvis {
    float: right;
    transition: all 275ms ease;
    cursor: pointer;
   	width:100%;
   	text-align:center;
   	@include rem-fallback(padding, 10,0,10,0);
}

#secondHeader #elvis span {
    display: block;
    width: 35px;
    height: 5px;
    background: #fff;
    margin-bottom: 5px;
    border-radius: 10px;
    margin:5px auto;
    transition: all 275ms ease;
}

#secondHeader #elvis.active {
    
    transform: rotate(-45deg);

    .bar1 {
      transform: rotate(0deg) translateY(6px);
    }

    .bar2 {
      opacity: 0;
    }

    .bar3 {
      transform: rotate(-90deg) translateX(13px);
    }
}

#candid-photography-sketch{
  position: fixed;
  top: 0px;
  padding-top:40px;
  width: 50%;
  height: 100%;
  background: $primary-color;
  overflow-y: auto;
  transition: width 0.3s ease;
  z-index:-999;
  right:100%;
  a {
    display: block;
    text-decoration:none;
    text-transform:uppercase;
    text-align:center;
    width:100%;
    color: white;
    padding: 20px;
    font-weight:$bold;
    &:hover, &:focus {
      background: #0086b2;
    }
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 34px;
    background: linear-gradient(left, rgba(black, 0.2), rgba(black, 0));
  }
}

#candid-photography-sketch.active{
  width: 50%;
  right:0;
}

header #logo a p, #secondHeader #submenu a p{
	padding-left:2%;
}

#secondHeader #submenu a p{
	padding-top:0;
}


header #logo .logo, #secondHeader #submenu .logo{
	height:40px;
	background-size:contain;
	@include rem-fallback(font-size,27);
}

header #logo p,  #secondHeader #submenu  p{
	color:#fff;
	@include rem-fallback(font-size,16);
	padding-top:13px;
}

header #logo p{
	@include rem-fallback(font-size,13);
}

header #ab_menu li a{
	color:#fff;
	text-decoration:none;
}

header #ab_menu ul{
	border-radius: 5px;
	text-align:center;
	margin-top:12px;
	position:relative;
	@include rem-fallback(font-size,19);
}

header #ab_menu ul.first > li:first-child{
	background:#00698c;
	border-radius: 5px;
}

header #ab_menu ul.first > li:nth-child(2){
	width:100%;
	height:8px;
	padding:0;
	background:transparent;
	display:block;
}


header #ab_menu ul:hover ul.children, header #ab_menu ul:hover ul.children:hover, header #ab_menu ul.children:hover{
	display:block;
}

header #ab_menu ul.children{
	background:#00698c;
	display:none;
	position:absolute;
	z-index:2;
	right:0;
	margin-top:0;
	text-align:left;
	border:5px solid #00698c;
}

header #ab_menu ul.children:after { top:-12%; left: 5%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(0, 105, 140, 0); border-bottom-color: #00698c; border-width: 5px; margin-left: -5px; }

header #ab_menu ul li{
	@include rem-fallback(font-size,9);
	text-transform:uppercase;
}

header #ab_menu ul li a{
	width:100%;
	padding:15px;
	display:block;
	background-size:auto 50%;
	background-position: right center;
}

header #ab_menu ul li:first-child{
	border-radius: 3px 3px 0 0;
}

header #ab_menu ul li:last-child{
	border-radius: 0 0 3px 3px;
}

header #ab_menu ul.children li:hover{
	background:#0099cc;
}

#secondHeader{
	background:#0086b2;
}

#secondHeader #submenu{
	background:#0086b2;
	color:#fff;
	@include rem-fallback(margin, 24,0,24,0);
}


#secondHeader #blog_menu{
	@include rem-fallback(font-size,16);
}

#secondHeader #blog_menu{
	float:right;
}

#secondHeader #blog_menu > ul.menu{
	height:auto;
	display:inline-block;
	float:right;
	text-align:right;
	margin:30px 0;
}

#secondHeader #blog_menu li{
	border-right:2px solid #fff;
	@include rem-fallback(padding, 0,32,0,32);
}

#secondHeader #blog_menu li:last-child{
	border-right:none;
}

#secondHeader #blog_menu li, #secondHeader #blog_menu li a{
	display:inline-block;
	color:#fff;
	text-decoration:none;
	@include rem-fallback(font-size,16);
	@include rem-fallback(line-height, 20);
	text-align:center;
	float:left;
	text-transform:uppercase;
}

#secondHeader #blog_menu li a:hover{
	text-decoration:underline;
}

#secondHeader #blog_menu li a{
	margin-top:0;
}


/** HOME PAGE **/


#main.homepage{
	background:#f9f9f9;
}

#main.homepage .row{
	@include rem-fallback(margin, 30, 0);
}

#main.homepage article{
	position:relative;
	@include rem-fallback(font-size,19);
	@include rem-fallback(margin-bottom, 25);
}

#main.homepage article a{
	text-decoration:none;
	display:block;
	width:100%;
	height:auto;
	border: 2px solid #eee;
}

#main.homepage article a{
	width:100%;
	/*height:385px;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	animation: doorout 0.5s ease 0s 1 forwards;
	overflow:hidden;
	transform: translateZ(0);
	max-width:100%;*/
	cursor:pointer;
}

#main.homepage article a section{
	@include rem-fallback(padding, 30,0,0,30);
	max-height:385px;
}


#main.homepage article a .preview{
	color:#141212;
	@include rem-fallback(padding, 32, 32, 42, 32);
	background:#fff;
}

#main.homepage article a .preview p{
	font-style:italic;
	@include rem-fallback(font-size,20);
}

#main.homepage article a .preview .data{
	@include rem-fallback(margin-bottom, 30);
	font-style:italic;
	@include rem-fallback(font-size,18);
	@include rem-fallback(line-height,28);
}

#main.homepage article a .preview .cta{
	@include rem-fallback(line-height,30);
}

/*#main.homepage article a .data{
	@include rem-fallback(padding, 0, 0, 24, 24);
}

#main.homepage a.small .data{
	@include rem-fallback(padding, 0, 14, 14, 14);
	@include rem-fallback(font-size,20x);
}

#main.homepage article a .data p.meta span{
	margin:0 5px;
	color:#0099cc;
	font-weight:$color-black;
}

#main.homepage article a .data p.meta{
	@include rem-fallback(font-size,12);
	@include rem-fallback(margin, 0, 0, 5, 0);
}*/

#main.homepage article .door{
	width:100%;
	height:100%;
	display:block;
	min-height:350px;
}

#main.homepage article .door .anystretch{
	z-index:1 !important;
}

#main.homepage article h3{
	font-weight:$color-black;
	@include rem-fallback(font-size,24);
	margin-bottom:17px;
	text-transform:uppercase;
}

#main.homepage article .preview .meta{

	@include rem-fallback(margin-bottom, 20);
	font-style:normal;

	p{
		color:#09c;
		font-style:normal;

		span{
			color:#141212;
			@include rem-fallback(margin-right,10);
			@include rem-fallback(margin-left,10);
			font-weight:bold;
		}
	}
}

#main.homepage a.small h3{
	@include rem-fallback(font-size,20);
}

#main.homepage article p{
	@include rem-fallback(line-height, 28);
}

#main.homepage article div.gradient{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00141212', endColorstr='#141212',GradientType=0 );
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(top, rgba(20,18,18,0) 0%,rgba(20,18,18,0) 40%,rgba(20,18,18,1) 100%));
	opacity:0.6;
	position:absolute;
	width:100%;
	height:100%;
	z-index:1;
}

#main.homepage aside div.stretch{
	display: block;
	max-height:192.5px;
    height: 100%;
    width: 100%;
}

#main.homepage aside a.small > section{
	max-height:192.5px;
}

#main.homepage aside a.small{
	text-decoration:none;
	perspective:500px;
}

#main.homepage aside a.small article{
	@include rem-fallback(font-size,16);
	text-decoration:none;
}

#main.homepage aside a.small article span{
	color:$primary-color;
	padding:0 5px;
}

#main.homepage aside a.small article p.meta{
	@include rem-fallback(font-size,13);
	@include rem-fallback(line-height, 18);
	margin-bottom:5px;
}

#main.homepage aside a.small article h3{
	@include rem-fallback(line-height, 18);
}

#main.homepage aside div.stretch .anystretch, #main.homepage aside div.stretch .anystretch img{
	z-index:1 !important;
}

#main.homepage .small article, #main.homepage .small{
	max-height:192.5px;
	min-height:192.5px;
}

hr.black{
	height:5px;
	background:$color-black;
	display:block;
	border:none;
	width:100%;
	clear:both;
}

#main.homepage #pagination, #single-main #pagination{
	margin: 0 auto;
	@include rem-fallback(margin-bottom,32);
}

#main.homepage #pagination .prev, #main.homepage #pagination .next, #single-main #pagination{
	min-height:120px;
	max-height:120px;
	text-decoration:none;
	color:$primary-color;
	perspective:500px;
	position:relative;
	transform-style: preserve-3d;
	backface-visibility: hidden;
}

#main.homepage #pagination .prev a, #main.homepage #pagination .next a, #single-main #pagination{
	text-align:center;
	width:100%;
	vertical-align:middle;
	display:block;
	height:100%;
	color:$primary-color;
	text-decoration:none;
	max-height:120px;
	@include rem-fallback(font-size,24);
	font-weight: $color-black;
	text-transform:uppercase;
	transform-style: preserve-3d;

	&:hover{
		background:#fff;
	}
}

#main.homepage #pagination .prev a p, #main.homepage #pagination .next a p, #single-main #pagination{
	width:100%;
	text-align:center;
}

#single-main.hompage #pagination{
	@include rem-fallback(padding,35,0,0);
	margin-bototm:0;
	max-height:0;
	height:auto;
	min-height:0;	
}

#sidebar{

	@include rem-fallback(padding-top,30);
	@include rem-fallback(padding-right,20);
	
	section{

		form#searchform{
			background-color:#fff;
		}

		@include rem-fallback(padding-bottom,45);

		.cta{
			display:block;
		}

		h3{
			color:$color-black;
			@include rem-fallback(font-size,28);
			@include rem-fallback(line-height,43);
			text-transform:uppercase;
		}

		form{
			display:block;
			clear:both;
		}

		a{
			text-decoration:none;
			color:$primary-color;

			&.cta{
				@include rem-fallback(line-height,24);
				color:$color-white;
				text-align:center;
			}
		}

		p{
			@include rem-fallback(margin-bottom,25);
			@include rem-fallback(line-height,21);
		}

		#s{
			border-right:none;
			@include rem-fallback(padding, 14);
			border-radius: 5px 0 0 5px;
			border:none;
			color:$primary-color;
			@include rem-fallback(font-size, 13);
		}

		#searchsubmit{
			@include rem-fallback(padding, 11, 14,14,14);
			border-radius: 0 5px 5px 0;
			border:none;
			background-color:$color-white;
			@include rem-fallback(font-size, 13);
			text-transform:uppercase;
			font-weight:$bold;
			color:transparent;
			background-size:60% auto;
			background-position:center center;

			&.hover{
				cursor:pointer;
			}
		}

		hr{
			background: #dedede;
			display:block;
			clear:both;
			width:100%;
			border:none;
			height:2px;
			@include rem-fallback(margin-bottom,15);
		}

		&#res{
			@include rem-fallback(padding-bottom,28);

			div.info{
				
				@include rem-fallback(margin,30, 0, 30);
				text-align:center;

				h5{
					color:$primary-color;
					@include rem-fallback(font-size,18);
					font-style:italic;
					@include rem-fallback(margin-bottom,30);
					@include rem-fallback(padding,0,25);
				}

				a.cta{
					display:inline;
				}
			}
		}

		&#socialside{

			hr{
				@include rem-fallback(margin-top,16);
			}

			.framed #body .wrapper{
				background:none !important;
			}

			.centered{
				text-align:center;
			}

		}

		ul{

			@include rem-fallback(padding-left,15);
			color:$primary-color;

			li{
				color:$primary-color;

				a{
					@include rem-fallback(font-size, 19);
					@include rem-fallback(line-height, 32);

					&:hover{
						text-decoration:underline;
					}
				}
			}
		}

		.fb_iframe_widget:first-of-type{
			width:100% !important;

			span{
				width:100% !important;

				iframe{
					width:100% !important;
				}
			}
		}

	}


}

/**  FOOTER  **/


footer{
	background:$color-black;
}

footer #mailinglist{
	background:$color-blue;
	position:relative;
	color:#fff;
	@include rem-fallback(font-size, 21);
	@include rem-fallback(padding, 16,0);
	border-bottom:2px solid #fff;
}

footer #mailinglist p{
	@include rem-fallback(padding-top, 30);
	text-transform:capitalize;
}

footer #mailinglist p strong{
	text-transform:uppercase;
	font-weight:strong;
}

footer #mailinglist a{
	display:block;
	text-align:center;
	text-decoration:none;
	@include rem-fallback(margin, 14, 0, 12);
}

footer #mailinglist a div.stretch{
	max-height:140px;
	min-height:140px;
	display:block;
}

footer #mailinglist a div.stretch img, footer #mailinglist a div.stretch .anystretch{
	z-index:1 !important;
}

footer #mailinglist .gradient{
	@include filter-gradient(#0099cc, #0099cc, horizontal); // IE6-8
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(left,  rgba(0,153,204,0) 0%,rgba(0,153,204,0) 16%,rgba(0,153,204,1) 50%,rgba(0,153,204,1) 100%));
	position:absolute;
	z-index:3;
	height:100%;
}

footer #mailinglist a div:last-child{
	position:relative;
	z-index:5;
	@include rem-fallback(padding, 41.2, 32, 0, 32);
	@include rem-fallback(font-size,21);
}

footer #mailinglist a div:last-child h4{
	font-weight:$color-black;
	@include rem-fallback(font-size, 24);
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	text-align:right;
}

footer #mailinglist a div:last-child p{
	@include rem-fallback(font-size, 15);
	color:#fff;
	text-align:right;
	@include rem-fallback(line-height, 16);
}

footer #foot-top{
	background:#0099cc;
	padding:20px 0;
	@include rem-fallback(font-size,19);
}

footer #foot-top p{
	color:#fff;
}

footer #foot-top li address p, footer #foot-top li p {
	@include rem-fallback(font-size,18);
	@include rem-fallback(line-height, 24);
	text-transform:capitalize;
}

footer #foot-top li ul li {
	height:85px;
}

footer #foot-top li div:first-child{
	height:100%;
	background-size:contain;
	background-position: left top;
}

footer #foot-top li ul li a{
	color:#fff;
	text-decoration:none;
	@include rem-fallback(line-height, 22);
}

footer #foot-top li ul li a:hover{
	text-decoration:underline;
}

footer #foot-small{
	background:#006080;
	padding:20px;
	color:#fff;
	@include rem-fallback(font-size,10);
}

footer #foot-small p{
	text-align:left;
}

footer #foot-small p a{
	color:#fff;
	text-decoration:none;
}

footer #foot-small nav{
	text-align:right;
}

footer #foot-small nav a{
	color:#fff;
	text-decoration:none;
	padding:0 10px;
}

footer #foot-small a:hover{
	text-decoration:underline;
}


/** SINGLE VIEW **/

#single-main{
}

#single-main a{
	color:#0099cc;
	text-decoration:none
}

#single-main a:hover{
	text-decoration:underline;
}

#single-main .bgwhite{
	background:$color-white;
}

aside#single-sidebar{
	@include rem-fallback(font-size,16);
	background:ba
}

aside section.clearing{
	perspective:500px;
}

#single-main #nextpost a{
	color:$color-black;
}

#single-main #nextpost .nextpostImg{
	max-height:300px;
	overflow:hidden;
	height:300px;
}

#single-main aside figure{
	/*@include maintain-ratio(51 38);*/
	overflow:hidden;
	max-height:180px;
}

#single-main aside section:hover figure img{
	filter:none;
}

#single-main aside form input, #single-main aside form input#searchsubmit{
	background-color:#fcfcfc;
	height:45px;
}

#single-main aside#single-sidebar a{
	text-decoration:none;
	color:#fff;
	display:block;
	@include rem-fallback(font-size,17);
	@include rem-fallback(line-height,22);
	transition: all 0.2s ease-in-out;
}

#single-main aside#single-sidebar h5{
	background:$primary-color;
	color:#fff;
	text-align:center;
	padding:20px;
	text-transform:uppercase;
	@include rem-fallback(font-size,20);
	font-weight:$bold;
}

#single-main aside#single-sidebar .post_data{
	padding:20px;
	@include rem-fallback(font-size,16);
}

#single-main aside#single-sidebar .post_data h4{
	font-weight:$bold;
	@include rem-fallback(font-size,19);
	@include rem-fallback(line-height, 20);
	text-transform:uppercase;
	margin-bottom:10px;
}

#single-main aside#single-sidebar .post_data, #single_main aside#single-sidebar .post_data p{
	color:#fff;
}

#single-main aside#single-sidebar .post_data p{
	@include rem-fallback(font-size,15);
	@include rem-fallback(line-height, 20);
}

#single-main aside#single-sidebar .post_data p{
	
}

#single-main #content{
	@include rem-fallback(margin, 80,0,0,80);
}

#single-main #content #article{
	@include rem-fallback(font-size,18);
	@include rem-fallback(padding, 0,0,16,0);

	strong{
		font-weight:$bold;
	}

	i{
		font-style:italic;
	}

	ul, ol{
		list-style:inside none normal;
		@include rem-fallback(padding, 0,0,0,20);
		@include rem-fallback(margin-bottom, 20);

		li{
			@include rem-fallback(margin-bottom, 20);
		}
	}

	h1{
		@include rem-fallback(margin-bottom,20);
		font-weight:$bold;
		@include rem-fallback(font-size, 35);
	}

	h2{
		@include rem-fallback(margin-bottom,20);
		font-weight:$bold;
		@include rem-fallback(font-size, 32);
	}

	h3{
		@include rem-fallback(margin-bottom,20);
		font-weight:$bold;
		@include rem-fallback(font-size, 30);
	}

	h4{
		@include rem-fallback(margin-bottom,20);
		font-weight:$bold;
		@include rem-fallback(font-size, 28);
	}

	h5{
		@include rem-fallback(margin-bottom,20);
		font-weight:$bold;
		@include rem-fallback(font-size, 25);
	}

	blockquote{
		background:none;
		border-left:5px solid $primary-color;
		color:#ccc;
		@include rem-fallback(padding-left,20);
	}

	p{
		img{
			width:100%;
			height:auto;
		}
	}
}

#single-main #content .meta{
	@include rem-fallback(font-size,18);
}

#single-main #content .meta p, #single-main #content .meta ul{
	float: left;
	color:$primary-color;
	text-transform:uppercase;
	font-weight:bold;
}

#single-main #content .meta span{
	color:$color-black;
	padding:0 10px;
}

#single-main #content .meta a{
	color:$primary-color;
	text-decoration:none;
}

#single-main #content .meta a:hover{
	text-decoration:underline;
}

#single-main #content #article figure{
	max-height:500px;
	height:500px;
	overflow:hidden;
	position:relative;
}

#single-main #content #article figure img{
	position:absolute;
	top:50%;
	margin-top:-25%;
}

#single-main #content #article figure figcaption{
	padding:5px 10px;
	background:#ebebeb;
	color:$color-black;
	font-weight:$bold;
	@include rem-fallback(font-size,10);
	position:absolute;
	bottom:0;
	width:100%;
	z-index:2;
}

#single-main #content #article h2{
	color:$color-black;
	@include rem-fallback(font-size,40);
	font-weight:$color-black;
	text-transform:uppercase;
	margin:20px 0;
}

#single-main #content #article p:first-of-type{
	@include rem-fallback(font-size,20);
	color:#7c7c7c;
	font-style:italic;
	margin:35px 0;
	@include rem-fallback(line-height, 32);
}

#single-main #content #article p, #single-main #content #article li{
	@include rem-fallback(font-size,23);
	@include rem-fallback(line-height, 44);
	margin-bottom:40px;
}

#single-main #content #article li{
	margin-bottom:10px;
}

#single-main #content #article ul{
	padding-left:5%;
	list-style:disc;
	margin-bottom:40px;
}

#single-main #content #article p a{
	color:$primary-color;
}

/*#single-main #content #article blockquote{
	background: #0099cc;
	@include rem-fallback(padding, 16, 32);
	color: #fff;
	width: 107%;
	margin-bottom: 40px;
}

#single-main #content #article blockquote p:first-of-type{
	@include rem-fallback(font-size,19);
}

#single-main #content #article blockquote span{
	color:#fff;
}*/

#single-main #nextpost .nextpostImg .anystretch, #single-main #nextpost .nextpostImg img, #single-main #content #article .anystretch, #single-main #content #article img{
	z-index:1 !important;
}


#single-main #nextpost a{
	color:$color-black;
	text-decoration:none;
	width:100%;
	height:100%;
	max-height:300px;
	display:block;
}

#single-main #nextpost .content{
	@include rem-fallback(padding, 32,32,32,32);
	@include rem-fallback(font-size,21);
}


#single-main #nextpost h4{
	font-weight:$color-black;
	color:$primary-color;
	@include rem-fallback(font-size,30);
}

#single-main #nextpost .content h5{
	@include rem-fallback(font-size,18);
	font-weight:$bold;
	@include rem-fallback(line-height, 15);
	margin:20px 0;
	text-transform:uppercase;
}

#single-main #nextpost .content p{
	@include rem-fallback(font-size,15);
	@include rem-fallback(line-height, 22);
}

#single-main {
	#cta{

		figure{
			max-height:335px;
			overflow:hidden;

			img{
				max-height:100%;
			}
		}
		.info{

			@include rem-fallback(padding,0,0,40,40);

			h4{
				@include rem-fallback(font-size,24);
				@include rem-fallback(margin-bottom,10);
				font-weight:bold;
				color:$primary-color;
			}
			h5{
				@include rem-fallback(font-size,22);
				font-weight:normal;
				@include rem-fallback(margin-bottom,15);
				font-style:italic;
			}

			p{
				@include rem-fallback(font-size,19);
				@include rem-fallback(line-height,32);
				@include rem-fallback(margin-bottom,45);
			}

			a{
				color:#fff;
			}

		}
	}

	#share{
		hr{
			@include rem-fallback(margin,25, 0);
		}
		h4{
			@include rem-fallback(font-size,28);
			font-weight:$bold;
			text-transform:uppercase;
			@include rem-fallback(margin-bottom,20);
		}

		.getsocial{
			.gs-bar{
				text-align:center;
			}
		}

		text-align:center;
		@include rem-fallback(padding-bottom,42);
	}
}

/** 404 - COO **/

#coo{
	max-height:800px;
	height:800px;
	overflow-y:hidden;
	position:relative;
}

#coo section{
	position:relative;
	z-index:2;
	@include rem-fallback(font-size,21);
}

#coo h5, #coo h3{
	color:$primary-color;
	@include rem-fallback(font-size,35);
	font-weight:$color-black;
	text-transform:uppercase;
}

#coo h5{
	margin-top:10%;
	@include rem-fallback(font-size,24);
}

#coo section p{
	font-weight:$color-black;
	@include rem-fallback(font-size,18);
	@include rem-fallback(line-height, 24);
	margin-top:10%;
}

#coo section p span{
	color:$primary-color;
}

#coo section p:last-child{
	font-weight:$medium;
	margin-top:20px;
}

#coo noscript figure, #action noscript figure{
	position:absolute;
	width:100%;
	top:0;
}

#action{
	position:relative;
	overflow-y:hidden;
}

#action section.centered{
	text-align:center;
	color:#fff;
}

#action section{
	@include rem-fallback(font-size,19);
	z-index:2;
	position:relative;
}

#action section h2{
	@include rem-fallback(font-size,30);
	text-transform:uppercase;
	font-weight:$bold;
}

#action section p{
	@include rem-fallback(font-size,15);
	@include rem-fallback(margin, 32,0,32,0);
}

#action > section{
	@include rem-fallback(padding, 70,0,112,0);
}

#action section p:last-of-type{
	@include rem-fallback(padding, 32,0,32,0);
}

#action form{
	@include rem-fallback(padding, 11,11,11,11);
	@include rem-fallback(margin-bottom,112);
	background:#bdbdbb;
	border-radius:3px;
}

#action input[type="text"]{
	box-shadow:inset 0 1px 1px 0 rgba(0,0,0,0.4);
	@include rem-fallback(padding, 14,16,14,16);
	border-radius:3px;
	border:none;
	@include rem-fallback(font-size,15);
}

#action input::-webkit-input-placeholder { 
	font-weight:$color-black;
	font-style:italic;
	color:#adadad;
	@include rem-fallback(font-size,15);
	text-transform:capitalize;
}

#action input:-moz-placeholder { 
	font-weight:$color-black;
	font-style:italic;
	color:#adadad;
	@include rem-fallback(font-size,15);
	text-transform:capitalize;
}

#action input::-moz-placeholder { 
	font-weight:$color-black;
	font-style:italic;
	color:#adadad;
	@include rem-fallback(font-size,15);
	text-transform:capitalize;
}

#action input:-ms-input-placeholder { 
	font-weight:$color-black;
	font-style:italic;
	color:#adadad;
	@include rem-fallback(font-size,15);
	text-transform:capitalize;
}

#action form span{
	background: transparent url(../imgs/404/input-end.png) no-repeat;
	height:20px;
	width:10px;
	margin-right:15px;
	float:left;
	margin-left:-1px;
	margin-top:10px;
}

#action input[type="text"], #action button{
	float:left;
}

#action .icon-or{
	background-position: center center;
    background-size: 100% auto;
    float: left;
    height: 160px;
    margin-top: -80px;
}

#action hr{
	height:2px;
	border:none;
	background:$color-white;
}

#coo .anystretch, #action .anystretch{
	z-index:1 !important;
}


/**  HOT JOBS && ARCHIVE  **/



#hotjobs #main_content article, #archive #main_content article{
	@include rem-fallback(font-size,16);
	padding-top:50px;
	border-bottom:5px solid $color-black;
}

#hotjobs #main_content article .image, #archive #main_content article .image{
	overflow:hidden;
	max-height:500px;
	height:500px;
	position:relative;
}

#hotjobs #main_content article .image img, #archive #main_content article .image img{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

#hotjobs #main_content article h3, #archive #main_content article h3{
	@include rem-fallback(font-size,40);
	font-weight:$color-black;
	@include rem-fallback(line-height,35);
	@include rem-fallback(padding, 16,0,16,0);
	text-transform:uppercase;
}

#hotjobs #main_content article div.stretch, #archive #main_content article div.stretch{
	max-height:380px;
	height:100%;
}

#hotjobs #main_content article .content, #archive #main_content article .content{
	@include rem-fallback(padding, 23,0,16,0);
}

#hotjobs #main_content article p, #archive #main_content article p{
	@include rem-fallback(font-size,20);
	@include rem-fallback(line-height, 30);
	margin-bottom:30px;
}

#hotjobs #main_content article:last-of-type, #archive #main_content article:last-of-type{
	border-bottom:0;
}

.hotjobs #rikmayall, #archive #main_content #rikmayall{
	 border-top:5px solid $color-black;
}

.hotjobs #rikmayall #pagination section{
	@include rem-fallback(margin-top, 40);
}

#archive #main_content .jobsbottom, .hotjobs .jobsbottom{
	background:$color-black;
}

.hotjobs .fjob{
    align-items: stretch;
    width: 100%;
}

.hotjobs .fjob .stretch, #archive #main_content .fjob .stretch{
	height:auto;
	max-height:none;
	z-index:1;
}

.hotjobs .fjob .door .half.left section.door{
	height:100%;
	min-height:340px;
	max-height:400px;
}

.hotjobs .fjob .anystretch{
	z-index:1 !important;
}

#single-main.hotjobs .fjob a.cta{
	color:$color-white;
}

.hotjobs .fjob .data, #archive #main_content .fjob .data{
	@include rem-fallback(font-size,19);
	@include rem-fallback(padding, 28.8,28.8,28.8,28.8);
}

.hotjobs .fjob h3, #archive #main_content .fjob h3{
	@include rem-fallback(font-size,30);
	font-weight:$color-black;
	color:$primary-color;
	text-transform:uppercase;
	margin-bottom:15px;
}

.hotjobs .fjob h2, #archive #main_content .fjob h2{
	@include rem-fallback(font-size,20);
	font-weight:$color-black;
	color:$color-black;
	text-transform:uppercase;
	margin-bottom:15px;
}

.hotjobs .fjob .data p, #archive #main_content .fjob .data p{
	@include rem-fallback(font-size,14);
	@include rem-fallback(line-height,24);
	margin-bottom:25px;
}

.hotjobs .fjob .data .cta, #archive #main_content .fjob .data .cta{
	@include rem-fallback(font-size,16);
	display:block;
	text-align:center;
}

.hotjobs .morejobs, #archive #main_content .morejobs{
	display:block;
	color:$color-white;
	text-decoration:none;
	text-align:center;
}

.hotjobs .morejobs .anystretch, #archive #main_content .morejobs .anystretch{
	z-index:1 !important;
}

.hotjobs .morejobs p, #archive #main_content .morejobs p{
	@include rem-fallback(font-size,35);
	text-transform:uppercase;
	text-align:center;
	text-decoration:none;
	font-weight:$bold;
	z-index:2;
}

#hotjobs aside{
	order:1;
}

#hotjobs aside h5, #archive aside h5{
	background:$primary-color;
	color:$color-white;
	@include rem-fallback(font-size,20);
	font-weight:$bold;
	padding:20px;
	text-transform:uppercase;
	display:block;
	text-align:center;
}

#hotjobs aside figure, #archive aside figure{
	overflow:hidden;
}

#hotjobs aside a, #archive aside a{
	color:#fff;
	text-decoration:none;
}

#hotjobs aside h3, #archive aside h3{
	@include rem-fallback(font-size,18);
	color:#fff;
	font-weight:$bold;
	text-transform: uppercase;
	margin-bottom:15px;
}

#hotjobs aside .data, #archive aside .data{
	@include rem-fallback(padding, 16,16,16,16);
}

#hotjobs aside .data p, #archive aside .data p{
	@include rem-fallback(font-size,16);
	@include rem-fallback(line-height,24);
}

#hotjobs #main_content .spacer.tall, #archive #main_content .spacer.tall{
	display:block;
	height:100%;
}

#hotjobs.archive #main_content article, #archive.archive #main_content article{
	padding-top:0;
}

#hotjobs.archive #main_content .morejobs, #archive.archive #main_content .morejobs{
	padding-bottom: 12%;
}

#hotjobs #main_content .morejobs, #archive #main_content .morejobs{
	min-height:123px;
}

#hotjobs #main_content #rikmayall{
	border-top:none;
}

#hotjobs #main_content .fjob:first-of-type{
	border-top:5px solid $color-black;
}

#hotjobs.archive #main_content .fjob:first-of-type{
	border-top:none;
}

#archive #main_content noscript figure, #hotjobs #main_content noscript figure{
	max-height:300px;
	overflow-y:hidden;
}

#hotjobs #main_content .jobsbottom noscript figure, #hotjobs #main_content .morejobs noscript figure{
	width:100%;
	max-height:150px;
	overflow-y:hidden;
}

#hotjobs #main_content .jobsbottom noscript figure img, #hotjobs #main_content .morejobs noscript figure img{
	width:100%;
	margin-top:-5%;
}

#hotjobs aside figure img{
	max-height:400px;
}

/**  ARCHIVE SPECIFIC  **/


#archive, #archive #main_content, #hotjobs, #hotjobs #main_content {
}

#archive aside a{
	display:block;
}

#archive #main_content{
	justify-content:space-between;
	border-top:5px solid $color-black;
}

#archive.archive #main_content article a{
	text-decoration:none;
	display:block;
	color:$color-black;
}

#archive #main_content .fjob .stretch{
	height:auto;
	max-height:none;
}

#archive #main_content .fjob .stretch .anystretch{
	z-index:1 !important;
}

#archive.archive #main_content article a{
    width: 100%;
}

#archive #main_content .fjob{
	border-bottom:5px solid $color-black;
}

#hotjobs.archive .fjob a, #hotjobs.archive .fjob a > *, #hotjobs.archive .fjob:hover a:hover p, #hotjobs.archive .fjob:hover a p{
	color:$color-black !important;
}

/**  SUBSCRIBE  **/

#single-main{
	
	&.subscribe{

		ol{
			@include rem-fallback(margin-bottom, 20);
			@include rem-fallback(padding, 0,0,0,20);
			list-style:inside none normal;

			li{
				@include rem-fallback(margin-bottom,20);
			}
		}

		form#mc-embedded-subscribe-form{

			border-radius:5px;
			background:#fafafa;
			@include rem-fallback(padding, 10, 20);

			.hide{
				display:none;
			}

			div{
				@include rem-fallback(margin,20,0);
			}

			.success{
				border:1px solid #27ae60;
			}

			span.clearing{
				color:#27ae60;
				@include rem-fallback(font-size, 16);
				font-style:italic;
				@include rem-fallback(line-height, 24);
			}

			input[type="text"], input[type="email"]{
				border:none;
				background-color:#fff;
				@include rem-fallback(padding, 20);
				border-radius: 5px 0 0 5px;
				@include rem-fallback(font-size,16);
				color:$primary-color;
				font-style:none;

				&::-webkit-placeholder{
					font-style:italic;
					font-weight:400;
					color:#ccc;
				}

				&::-moz-placeholder{
					font-style:italic;
					font-weight:400;
					color:#ccc;
				}

				&:-moz-placeholder{
					font-style:italic;
					font-weight:400;
					color:#ccc;
				}

				&::-ms-input-placeholder{
					font-style:italic;
					font-weight:400;
					color:#ccc;
				}
			}

			input[type="checkbox"]{
				@include rem-fallback(margin-top, 16);
			}

			label{
				@include rem-fallback(font-size,16);
				color:#999;
				font-style:italic;
			}

			div{
				span.icon{
					background-repeat:no-repeat;
					background-color:#fff;
					background-position: center center;
					background-size:65% auto;
					@include rem-fallback(padding,5);
					border-radius: 0 5px 5px 0;
					height:60px;
				}
			}

		}

	}

}

#single-main.subscribe #content #article p:nth-child(2){
	@include rem-fallback(margin-bottom, 15);
}

#single-main.subscribe #content #article p:nth-child(3){
	@include rem-fallback(margin-bottom, 15);
}

/** RESOURCES **/

.resources{
	
	.hero{
		text-align:center;

		h2{
			@include rem-fallback(font-size, 40);
			@include rem-fallback(padding-top, 55);
			font-weight:$bold;
			text-transform:uppercase;
		}

		p{
			@include rem-fallback(margin, 30);
			@include rem-fallback(font-size, 21);
			color:#797979;
			@include rem-fallback(line-height, 32);
			font-style:italic;
		}
	}

	#single-main{
		
		#content{
			@include rem-fallback(margin, 32, 0, 0, 80);
		}
	}

	figure{

		img{

			top:0 !important;
		}
	}

	#sidebar{

		form#resource-SignUp{

			border-radius:5px;
			background:#ededed;
			@include rem-fallback(padding, 25);
			border-top:5px solid $primary-color;

			h3{
				text-align:center;
				@include rem-fallback(font-size, 26);
				color:$primary-color;
				text-transform:capitalize;
				font-weight:$bold;
				@include rem-fallback(margin, 30, 0);
			}

			input[type="text"],input[type="email"]{
				border:none;
				@include rem-fallback(padding, 12, 10);
				@include rem-fallback(margin, 5, 0, 20, 0);
				@include rem-fallback(font-size, 16);
				border-radius:5px;

				&.success{
					border:1px solid #27ae60;
				}

				&:focus{
					border-bottom:3px solid $primary-color;
				}
			}

			span.clearing{
				color:#27ae60;
				@include rem-fallback(font-size, 16);
				font-style:italic;
				@include rem-fallback(line-height, 24);

				&.hide{
					display:none;
				}
			}

			button{
				&:hover{
					cursor:pointer;
				}
			}

			label{
				@include rem-fallback(margin, 12, 0, 10, 0);
				@include rem-fallback(font-size, 16);
				color:#797979;
			}

			input[type="checkbox"]{
				@include rem-fallback(height, 17);
				@include rem-fallback(margin, 15, 10, 35, 0);

				&:hover{
					cursor:pointer;
				}
			}

			p{
				text-align:center;
				font-style:italic;
				color:#797979;
				@include rem-fallback(font-size, 15);
				@include rem-fallback(margin-top, 30);

				a{

				}
			}
		}

	}

	#rikmayall{

		section.door{
			height:100%;
			min-height:340px;
			max-height:400px;

			.anystretch{
				img{
					top: 0 !important;
				}
			}
		}

	}

}

/**  MEDIA QUERIES  **/


@media only screen and (max-width: 1650px) {
	footer #foot-top{
		@include rem-fallback(font-size,19);
	}
}

@media only screen and (max-width: 1560px) {
	#action form span{
		display:none;
	}

	#action button{
		@include rem-fallback(padding,16);
	}
}

@media only screen and (max-width: 1471px) {
	#main.homepage article{
		@include rem-fallback(font-size,16);
	}
	#main.homepage a.small .data{
		@include rem-fallback(font-size,15);
	}
}

@media only screen and (max-width: 1411px) {
	#secondHeader #submenu a p, header #logo a p{
		vertical-align:top;
		padding-top:5px;
	}
}

@media only screen and (min-width: 621px) and (max-width: 1380px) {
	footer #mailinglist a div:last-child{
		@include rem-fallback(font-size,19);
	}
	#main.homepage a.small .data{
		@include rem-fallback(font-size,13);
	}
}

@media only screen and (min-width: 621px) and (max-width: 1245px) {
	footer #mailinglist a div:last-child{
		@include rem-fallback(font-size,18);
	}
	#main.homepage article{
		@include rem-fallback(font-size,15);
	}
	#secondHeader #submenu a p, header #logo a p{
		padding-top:2px;
	}
	header #ab_menu ul li a{
		background:none;
	}
	header #ab_menu ul.children:after{
		border:none;
	}
	#action button{
		@include rem-fallback(padding,15);
	}
	#action input[type="text"]{
		@include rem-fallback(padding,15,12);
		width:75%;
	}

	#single-main #cta figure{
		max-height:375px;
	}
}

@media only screen and (max-width: 1180px) {
	#secondHeader #submenu .logo, header #logo .logo{
		width:100%;
	}
	#secondHeader #submenu a p, header #logo a p{
		display:none;
	}
	#secondHeader #blog_menu li{
		@include rem-fallback(padding, 0,24);
	}
}

@media only screen and (min-width: 621px) and (max-width: 1151px) {
	footer #mailinglist a div:last-child{
		@include rem-fallback(font-size,16);
	}

	#single-main #content{
		@include rem-fallback(margin, 80,0,0,40);
	}
}

@media only screen and (max-width: 1080px) {
	#main.homepage .small article p:first-child{
		display:none;
	}
	#main.homepage a.small .data h3{
		@include rem-fallback(font-size,19);
	}
	footer #foot-top li address p, footer #foot-top li p{
		@include rem-fallback(font-size,16);
		@include rem-fallback(line-height,19);
	}
	#hotjobs #main_content .fjob .data .cta, #archive #main_content .fjob .data .cta{
		width:100%;
		display:block;
	}
}

@media only screen and (min-width: 621px) and (max-width: 1060px) {
	footer #mailinglist a div:last-child{
		@include rem-fallback(font-size,14);
	}

	#single-main #nextpost .nextpostImg img{
		height:100% !important;
	}

	#single-main #nextpost a{
		color:$color-black;
		text-decoration:none;
	    align-items: stretch;
	    flex-direction: row;
	    width: 100%;
	}

	#single-main #nextpost .nextpostImg{
		height:auto;
		max-height:none;
	}

	#sidebar{
		#res{
			figure{
				display:none;
			}

			.info{
				width:100%;
			}
		}
	}
}

@media only screen and (max-width: 1000px) {
	#main.homepage a.small .data h3{
		@include rem-fallback(font-size,19);
	}
	#single-main #content #article figure{
		max-height:400px;
	}
	#action input[type="text"]{
		@include rem-fallback(padding,15,12);
		width:65%;
	}

	#single-main #content{
		@include rem-fallback(margin, 80,0,0,20);
	}
}

@media only screen and (max-width: 980px) {
	#main.homepage a.small .data h3{
		@include rem-fallback(font-size,16);
	}
}

@media only screen and (min-width: 621px) and (max-width: 962px) {
	footer #mailinglist a div:last-child{
		@include rem-fallback(font-size,13);
	}
	#main.homepage article{
		@include rem-fallback(font-size,13);
	}

	#main.homepage article h3{
		@include rem-fallback(font-size,20);
	}
	#secondHeader #blog_menu li{
		@include rem-fallback(font-size,13);
	}

	#single-main aside#single-sidebar .post_data{
		@include rem-fallback(font-size,14);
	}

	#single-main #cta figure{
		max-height:none;
	}
}

@media only screen and (max-width: 890px) {
	#main.homepage a.small .data h3{
		display:none;
	}
	#main.homepage .small article p:last-child{
		@include rem-fallback(font-size,14);
		@include rem-fallback(line-height,16);
	}
	#secondHeader #blog_menu li{
		@include rem-fallback(padding, 0, 16);
	}

	.resources{
		#rikmayall{
			section.door{
				display:none;
			}
			.pushright.data{
				width:100%;
			}
		}
	}
}

@media only screen and (max-width: 800px) {
	#secondHeader #blog_menu{
		display:none;
	}
	#secondHeader #elvis{
		display:block;
	}
	#single-main #content #article figure{
		max-height:350px;
	}
}

@media only screen and (max-width: 750px) {
	#main.homepage .small article p:last-child{
		@include rem-fallback(font-size,14);
	}
	#action form{
		@include rem-fallback(padding,10);
		width:55%;
	}
	#action form input[type="text"]{
		width:65%;
	}
}

@media only screen and (min-width: 621px) and (max-width: 715px) {
	#main.homepage article{
		@include rem-fallback(font-size,12);
	}

	#main.homepage article h3{
		@include rem-fallback(font-size,17);
	}

	#coo section div{
		clear:both;
		display:block;
		width:100%;
		padding: 15px 15px;
	}
}

@media only screen and (max-width: 620px) {
	
	/** HOME **/

	#main.homepage article{
		@include rem-fallback(font-size,22);
	}
	#secondHeader #submenu .logo{
		width:70%;
		float:left;
	}
	#secondHeader #elvis{
		clear:none;
		float:right;
		width:100%;
	}
	#secondHeader #submenu .logo, header #logo .logo{
		background-position:center center;
		margin-bottom:20px;
	}
	header #logo{
		margin-top:0;
		@include rem-fallback(padding-top,13);
	}
	footer #mailinglist{
		background:$color-blue;
	}

	/* a div:last-child{
		position:absolute;
		top:0;
		padding:15px;
		@include rem-fallback(font-size,18);
		right:0;
		width:70%;
	}*/
	#main.homepage .small, #main.homepage .small article{
		max-height:none;
	}
	#main.homepage .small article article, #main.homepage .static .small article, #main.homepage .static .small{
		max-height:192.5px;
	}
	#main.homepage aside a.small{
		clear:both;
	}
	#main.homepage a.small .data h3{
		display:block;
	}
	#main.homepage aside a.small article,#main.homepage a.small .data{
		@include rem-fallback(font-size,24);
	}
	#main.homepage .static a.small .data{
		@include rem-fallback(font-size,21);
	}
	#main.homepage .small article p:last-child{
		@include rem-fallback(font-size,11);
	}
	footer #foot-top li{
		margin-bottom:20px;
		@include rem-fallback(font-size,24);
	}
	footer #foot-top li > div, footer #foot-top li > p{
		width:50%;
		float:left;
		clear:none;
	}
	footer #foot-top li > div:first-child{
		width:30%;
	}
	footer #foot-small nav, footer #foot-small p{
		text-align:center;
		margin-top:10px;
	}

	/** SINGLE **/

	#single-main{
		flex-direction: column;
	}

	#single-main > section:first-of-type{
		order: 1;
	}

	#single-main aside{
		order: 2;
	}

	#single-main #content{
		@include rem-fallback(margin, 80,0,0,0);
	}

	#single-main #content #article figure{
		max-height:300px;
	}

	#single-main #content #article p, #single-main #content #article h2, #single-main #content .meta{
		padding:0 10px;
		color:$color-black;
	}

	#single-main #content .meta{
		@include rem-fallback(font-size,11);
	}

	#archive, #archive #main_content, #hotjobs, #hotjobs #main_content, #archive.archive #main_content article a, #hotjobs #main_content .fjob{
		display:block;
	}
	
	#archive #main_content .fjob .stretch, #hotjobs #main_content .fjob .stretch{
		height:350px;
	}

	#archive #main_content article h3, #hotjobs #main_content article h3{
		@include rem-fallback(line-height,16);
	}
	#archive #main_content article p, #hotjobs #main_content article p{
		padding:0 15px;
	}

	#archive #main_content article .image, #hotjobs #main_content article .image{
		height:300px;
		max-height:300px;
	}

	#action form{
		width:90%;
	}

	#action form input[type="text"]{
		width:75%;
	}

	#action section p:last-of-type{
		@include rem-fallback(padding,5,0);
	}

	#action form button{
		width:20%;
		margin-left:5%;
		@include rem-fallback(font-size,9);
		@include rem-fallback(padding,18,14);
	}

	#action .clearing hr{
		display:none;
	}

	#action .clearing .icon-or{
		background-size:30% auto;
	}

	#action .cta.orange{
		display:block;
		margin: 15px 15px 0 15px;
	}

	#coo section div{
		clear:both;
		display:block;
		width:100%;
		padding: 15px 15px;
	}

	#cta{

		padding-bottom:30px;

		figure{
			display:none
		}

		.info{
			padding-left:15px;

		}
	}

	#sidebar{
		padding: 0 15px;

		form{
			input[type="submit"]{
				float:right;
				width:10%;
				clear:none;
				height:44px;
			}
			input[type="text"]{
				width:90%;
				float:left;
				clear:none;
			}
		}

		#res{
			figure{
				max-height:325px;
				overflow:hidden;
			}
		}

		#socialside{
			text-align:center;
		}
	}

	figure.stretch{
		.anystretch{
			img{
				max-width:1000% !important;
			}
		}
	}

}

@media only screen and (max-width: 480px) {
	footer #mailinglist a div:last-child{
		position: absolute;
		top: 0;
		width: 75%;
		right: 0;
	}
}


/**  IE HACKS - LE SIGH  **/

.ie9 #pagination a.stretch{
	height:120px !important;
}

.ie9 #pagination a.stretch p{
	z-index:10;
}

.ie9 #mailinglist .an

.ie7 .gradient, .ie8 .gradient, .ie9 .gradient{
	z-index:5 !important;
}

.ie7 .data, .ie8 .data{
	z-index:6 !important;
	font-size:16px !important;
}

.ie9 .data{
	z-index:6 !important;
}

.ie9 #hotjobs #main_content .morejobs{
	height:155px !important;
}

.ie7 #hotjobs #main_content .fjob .stretch, .ie8 #hotjobs #main_content .fjob .stretch{
	min-height:350px;
}

.ie7 #hotjobs, .ie8 #hotjobs, .ie7 #single-main, .ie8 #single-main, .ie9 #single-main, .ie9 #hotjobs{
}

.ie7 #hotjobs #main_content, .ie8 #hotjobs #main_content, .ie9 #hotjobs #main_content{
	background:#fff;
	height:100%;
}

.ie7 #main.homepage .blackbg, .ie8 #main.homepage .blackbg{
	background:none;
}

.ie7 .anystretch, .ie8 .anystretch, .ie9 .anystretch, .ie9 .stretch{
	z-index:1 !important;
}

.ie7 .next a, .ie8 .next a,.ie7 .prev a, .ie8 .prev a,.ie7 .next a .anystretch, .ie8 .next a .anystretch,.ie7 .prev a .anystretch, .ie8 .prev a .anystretch{
	min-height:120px;
}

.ie7 .next a p, .ie8 .next a p,.ie7 .prev a p, .ie8 .prev a p{
	color:#fff;
	z-index:5;
}

.ie7 #archive #main_content .fjob .stretch .anystretch, .ie8 #archive #main_content .fjob .stretch .anystretch, .ie9 #archive #main_content .fjob .stretch .anystretch{
	z-index:1;
	min-height:320px;
}

.ie7 #archive #main_content .fjob, .ie8 #archive #main_content .fjob, .ie9 #archive #main_content .fjob{
	overflow-y:hidden;
}

.ie7 .icon-ablue, .ie8 .icon-ablue{
	-ms-background-size:contain;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/imgs/svgs-pngs/ablue.png', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/imgs/svgs-pngs/ablue.png', sizingMethod='scale')";
	background-image:none;
	behaviour:url(/css/ie-css3.htc);
}

.ie7 .icon-address, .ie8 .icon-address{
	-ms-background-size:contain;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/imgs/svgs-pngs/address.png', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/imgs/svgs-pngs/address.png', sizingMethod='scale')";
	background-image:none;
	behaviour:url(/css/ie-css3.htc);
}

.ie7 .icon-phone, .ie8 .icon-phone{
	-ms-background-size:contain;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/imgs/svgs-pngs/phone.png', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/imgs/svgs-pngs/phone.png', sizingMethod='scale')";
	background-image:none;
	behaviour:url(/css/ie-css3.htc);
}

.ie7 .icon-linkedin, .ie8 .icon-linkedin{
	-ms-background-size:contain;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/imgs/svgs-pngs/linkedin.png', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/imgs/svgs-pngs/linkedin.png', sizingMethod='scale')";
	background-image:none;
	behaviour:url(/css/ie-css3.htc);
}

.ie7 .icon-or, .ie8 .icon-or{
	-ms-background-size:contain;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/imgs/svgs-pngs/or.png', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/imgs/svgs-pngs/or.png', sizingMethod='scale')";
	background-image:none;
	behaviour:url(/css/ie-css3.htc);
}

.ie7 footer .icon-address, .ie8 footer .icon-address, .ie7 footer .icon-phone, .ie8 footer .icon-phone, .ie7 footer .icon-linkedin, .ie8 footer .icon-linkedin{
	max-width:120px;
}

.ie7 header .icon-question, .ie8 header .icon-question, .ie7 header .icon-phone, .ie8 header .icon-phone, .ie7 header .icon-jobs, .ie8 header .icon-jobs,.ie7 header .icon-door, .ie8 header .icon-door{
	background-image:none !important;
	background:none !important;
	filter:none;
}

.ie7 #candid-photography-sketch{
	display:none;
}

.ie7 #mailinglist .gradient, .ie8 #mailinglist .gradient, .ie9 #mailinglist .gradient{
	filter:none;
}

.ie7 #mailinglist .half:last-child{
	width:49%;
	float:right;
}

.ie7 #hotjobs #main_content article .image img, .ie7 #archive #main_content article .image img, .ie8 #hotjobs #main_content article .image img, .ie8 #archive #main_content article .image img{
	top: 100%;
	margin-top:-50%;
}

.ie7 .small-cta, .ie8 .small-cta{
	padding: 13px 22px 13px 22px;
}

.ie7 footer .gradient{
	display:none;
}

.ie7 footer .content{
	width:40% !important;
	float:right !important;
}

.ie7 footer #foot-top > ul > li{
	width:30% !important;
	float:left;
}

.ie7 footer #foot-top > ul > li li{
	width:100%;
}

.ie7 #pagination p{
	left:0;
}

.ie7 aside a:hover,.ie7 .homepage a:hover .ie8 a:hover{
	text-decoration:underline !important;
	cursor:pointer;
}

.ie7 #ab_menu a:hover{
	text-decoration:none;
}

.ie7 #ab_menu ul{
	z-index:9999;
}

.ie7 .static{
	position:absolute;
}

.ie7 .static:last-of-type{
	padding-top:193px;
}

.ie7 #single_content .image, .ie7 #hotjobs .image{
	float:left !important;
}

.ie7 .morejobs{
	width:100%;
	height:230px;
}

.ie7 .morejobs p{
	left:0;
}

.ie7 #action section.clearing{
	display:none
}

.ie7 #action .cta:first-of-type{
	margin-left:-200px;
}

.ie7 #action .spacer:last-of-type{
	display:none;
}

.ie7 #action .small-cta{
	margin-left:0 !importantz;
}

.ie7 #action .cta:last-of-type{
	margin-right:-200px;
}
